# =========================
# BUILD / IDE
# =========================
target/
build/
.kotlin

.idea/
*.iws
*.iml
*.ipr

.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# TEST OUTPUTS
# =========================
reports/

# =========================
# JMETER
# =========================
load-tests/jmeter-tools/
load-tests/jmeter/logs/
load-tests/jmeter/results/jtl/
load-tests/jmeter/results/reports/

# =========================
# ENV
# =========================
*.properties
*.env